@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gradient-blue{
  background-image: linear-gradient(120deg, rgb(0, 0, 0) 0%, rgb(0, 40, 86) 100%);
}
.gradient-cba{
  background-image: linear-gradient(to top, #02005d 0%, #453a94 100%);
} 